{% from "_formhelpers.html" import render_field %}

<div class="box box-primary collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Change Password</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form action="{{ url_for('accounts.change-password') }}" method="POST">{{ change_password_form.csrf_token }}
    <div class="box-body">
      <div class="form-group">
        <label>Current Password</label>
        {{ render_field(change_password_form.password, type="password", class='form-control', id='inputPassword', placeholder='Current Password') }}
      </div>
      <div class="form-group">
        <label>New Password</label>
        {{ render_field(change_password_form.new_password, type="password", class='form-control', id='inputNewPassword', placeholder='New Password') }}
      </div>
      <div class="form-group">
        <label>Confirm New Password</label>
        {{ render_field(change_password_form.new_password_confirm, type="password", class='form-control', id='inputNewPasswordConfirm', placeholder='Confirm New Password') }}
      </div>
    </div>
    <div class="box-footer">
      <button class="btn btn-primary" type="submit" id="submitButton">Change Password</button>
    </div>
  </form>
</div>