<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="google-site-verification" content="eu5JnCL0ZJs0mmWInI9Dqwp2vRFA62-A_l5Gl2btLLs" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>

    <title>PSL - {% block page_title %}{% endblock %}</title>

    {% block page_css %}{% endblock %}

    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-timepicker.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jackpot.css') }}"/>

    <!-- Custom -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,700,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>
  <body id="{% block body %}{% endblock %}" class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      {% include "header.html" %}
      {% include "sidebar.html" %}
      
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {% block content %}{% endblock %}
      </div>

      {% include "footer.html" %}
    </div>

    {% block page_modal %}{% endblock %}

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/core.js') }}"></script>

    {% block js_footer %}{% endblock %}

    <script>
      var notifyOptions = {
        globalPosition: 'bottom left',
      };
      $.notify.defaults(notifyOptions);
    </script>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <script>
        {% for message in messages %}
        $.notify("{{ message }}", notifyOptions);
        {% endfor %}
      </script>
      {% endif %}
    {% endwith %}

    <script type="text/javascript">
      $.dynatableSetup({
        features: {
          paginate: false,
          sort: true,
          pushState: true,
          search: false,
          recordCount: false,
          perPageSelect: false
        },
        dataset: {
          perPageDefault: 1000,
          perPageOptions: [50,100,200,500,1000],
        }
      });
    </script>

  </body>
</html>
