{% extends "base.html" %}
{% block page_title %}Update Password{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <div class="container">
    <form class="form-signin" role="form" action="{{ url_for('accounts.change_password') }}" method="post">
        {{ change_password_form.csrf_token }}
        <h2 class="form-signin-heading">Update Password</h2>
        {{ render_field(change_password_form.password, class='form-control', id='inputPassword', placeholder='Old Password') }}
        {{ render_field(change_password_form.new_password, class='form-control', id='inputNewPassword', placeholder='New Password') }}
        {{ render_field(change_password_form.new_password_confirm, class='form-control', id='inputNewPassword2', placeholder='Retype New Password') }}
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitButton">Change Password</button>
    </form>

  </div> <!-- /container -->
{% endblock %}

{% block js_footer %}
<script>
    
</script>
{% endblock %}