{% extends "base.html" %}
{% block page_title %}Forgot Password{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block page_banner %}{% include "banner.html" %}{% endblock %}

{% block content %}
  <section class="content">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Forgot Password</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <form role="form" action="{{ url_for('accounts.forgot_password') }}" method="post">
              {{ forgot_password_form.csrf_token }}
              {{ render_field(forgot_password_form.email, class='form-control', id='inputEmail', placeholder='Email Address') }}
              <div class="form-footer">
                <button class="btn btn-primary" type="submit" id="submitButton">Reset My Password</button>
                <span class="message">Already registered? <a href="{{ url_for('accounts.login') }}">Login</a></span>
              </div>
          </form>
        </div>
      </div>
    </div>

  </section>
{% endblock %}

{% block js_footer %}
<script>
    function isValidEmailAddress(emailAddress) {
      var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
      return pattern.test(emailAddress);
    }

    function enableSubmit(){
        var email = $('#inputEmail').val();
        
        if(isValidEmailAddress(email)){
            $('#submitButton').removeAttr('disabled');
        }else{
            $('#submitButton').attr('disabled', 'disabled');
        }
    }

    var inputEmailTooltip = {
        'trigger': 'hover',
        'placement': 'left',
        'title': 'Invalid email address',
    };

    $('#inputEmail').on('change', function(){
        var val = $(this).val();
        if(!isValidEmailAddress(val)){
            $('#inputEmail').tooltip(inputEmailTooltip);
            $(this).parent().addClass('has-error');
        }else{
            $('#inputEmail').tooltip('destroy');
            $(this).parent().removeClass('has-error');
        }
        enableSubmit();
    });


</script>
{% endblock %}