{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block page_title %}{% if current_user.full_name() %}{{ current_user.full_name() }}{% else %}{{ current_user.email }}{% endif %}{% endblock %}

{% block page_css %}{% endblock %}
{% block body %}profile{% endblock %}

{% block content %}
  <section class="content-header"><h1>Your Profile</h1></section>
  <section class="content">
    <div class="row">

      <div class="col-md-6">
        {% include "widgets/profile-box.html" %}
      </div>

      <div class="col-md-6">
        <div class="box box-primary collapsed-box" style="display:none;">
          <div class="box-header with-border">
            <h3 class="box-title">Edit Profile</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form action="{{ url_for('accounts.edit-profile') }}" method="POST" enctype="multipart/form-data">{# profile_form.csrf_token #}
            <div class="box-body">
              <div class="form-group">
                <label>Name</label>
                {# render_field(profile_form.name, class='form-control', id='inputFirstName', placeholder='First Name') #}
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Profile Image</label>
                <input type="file" name="profile_image" id="inputProfileImage">
                <p class="help-block">Change your photo.</p>
              </div>
            </div>
            <div class="box-footer">
              <button class="btn btn-primary" type="submit" id="submitButton">Update Profile</button>
            </div>
          </form>
        </div>

        {% include "widgets/change-password.html" %}
      </div>

    </div>
  </section>
{% endblock %}

